<h3> Próximos eventos </h3>
<ul>
  {{#each events as |event|}}
  <li>
      <a href="/events/events-details/{{event._id}}"> {{event.name}} </a>
  </li>
    {{/each}}
</ul>


{{#if manager}}
  <a href="/events/new-events"><button class="ui pink big basic button" type='submit'>Add new event</button></a> 
{{/if}}