
<img class="ui left floated big circular image" src="images/_A7A2548.jpg">
<div id="about">
  <h2>about the artist</h2>
    <p> 
      Isa Rojas is a musical producer and DJ residing in Barcelona. 
    <br> 
      Her sounds move you into the eclectic and experimental realm
    <br>
      creating a powerful expression and magical trip within the music.
    <br>
      Her musical devotion has translated into two projects
    <br>
      REDRABBIT with Felipe Rabi and Magmille
    <br>
      with Camille Muzard
    </p>
</div>
    
<iframe id="index-player" width="40%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/401530812&color=%231f1e22&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

 








