<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='ui fixed basic menu'>
      <div class='ui container'>
        <div class='header item'><i class='bullseye icon'></i>Isa Rojas IndieDJ</div>
          <a href='/' class='item'>Home</a>
          <a href='/gallery' class='item'>Gallery</a>
          <a href='/events' class='item'>Events</a>
          <a href='/music' class='item'>Music</a>
      </div>
      <div class="right menu">
        <a href='https://www.facebook.com/isabel.rojas.940098?ref=br_rs' class='item'><i class="facebook f icon"></i></a>
        <a href='https://www.instagram.com/magnolia_isarojas/?hl=en' class='item'><i class="instagram icon"></i></a>
        <a href='/signup' class="item">Sign Up</a>
        <a href='/login' class="item">Login</a>
      </div>
    </div>
    
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    
    <script src='/javascripts/script.js'></script>
  </body>

</html>
