<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='ui fixed inverted menu'>
      <div class='ui container'>
        <div class='header item'><i class='bullseye icon'></i>MVGNOLIA dj</div>
          <a href='/' class='item'>Home</a>
          <a href='/' class='item'>New Post</a>
      </div>
      <div class="right menu">
        <a href='/signup' class="item">Sign Up</a>
        <a href='/login' class="item">Login</a>
      </div>
    </div>
    
    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>

</html>
