
<div class='ui container'>
  {{#each musics}}
    <div class='ui item row'>
      <iframe width="70%" height="160" scrolling="no" frameborder="no" allow="autoplay" src="{{url}}"></iframe>
    </div>
  {{/each}}
</div>

{{#if manager}}
<a href="/music/new-music"><button class="ui pink big basic button" type='submit'>Add new music</button></a> 
{{/if}}
