<div class='ui main text container segment'>
	<div class='ui huge header'>Add new photo to the gallery</div>
  	<form validated class='ui form' action='/gallery/new-photo' method='POST'>
			<div class='field'>
				<label for='title'>Title</label>
				<input required placeholder="Title" name="title" type="text">
			</div>
			<div class='field'>
				<label for='url'>Url</label>
				<input required placeholder="URL" name="url" type="text">
			</div>
				<button class="ui pink big basic button" type='submit'>Add</button>
 		</form>
</div>



{{!-- <img src="https://sonarbuenosaires.com/system/attached_images/19297/medium/rojas_01.jpg?1509991418" alt="sonar1">
<img src="http://djschool.cl/wp-content/uploads/2017/11/3.jpg" alt="djschool">
<img src="http://absolut.cl/wp-content/uploads/2016/12/Dj-Isa-Rojas.jpg" alt="absolut">
<img src="https://tendencias.tv/wp-content/uploads/2017/12/DJ-ISA-ROJAS-SONAR-CLUB-Buenos-Aires-2017.jpg" alt="sonar2">
<img src="https://sonarbuenosaires.com/system/attached_images/19296/medium/rojas_02.jpg?1509991417" alt="sonar3">
<img src="http://www.cute.cl/wp-content/uploads/2016/07/DJ-Isa-Rojas.jpg" alt="djing">
<img src="http://yofui.com/CLFotosFiles/Evento00008157/YoFui0000003928991826-6.JPG" alt="yofui">
<img src="https://i1.sndcdn.com/avatars-000128034022-fdzz19-t500x500.jpg" alt="sndcdn">
<img src="https://dariuslacroix.files.wordpress.com/2015/10/dj-isa-rojas-musicalizando-el-cierre-de-adlib-2.jpg" alt="adlib"> --}}

