<div class='ui main text container segment'>
	<div class='ui huge header'>Create a new event</div>
		<form validated class='ui form' action="/events/new-events" method="POST">
			<div class='field'>
				<label for='address'>Where:</label>
    		<input required placeholder="Address" type='text' name="location[address]" id="address">
			</div>
			<div class='field'>
				<label for='name'>Tour Name:</label>
				<input required placeholder="Tour Name" type='text' name="name" id="name">	
			</div>
    	<div class='field'>
				<input hidden required placeholder="Latitude" type="text" name="location[coordinates][1]" id="lat">
			</div>
			<div class='field'>
				<input hidden required placeholder="Longitude" type="text" name="location[coordinates][0]" id="lng">
			</div>
  		<button class="ui black big basic button" type='submit'>Create it!</button>
		</form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJAsXtHWBQnT38jSoVFTZ3QwqvaCrn4RE&libraries=places"></script>
<script>
    let address = document.getElementById('address') 
    let name = document.getElementById('name') 
    let lat = document.getElementById('lat')
    let lng = document.getElementById('lng')

    function autoComplete(input, inputLat, inputLng){
        const dropdown = new google.maps.places.Autocomplete(input)

        dropdown.addListener('place_changed', ()=>{
            let place = dropdown.getPlace()
            lat.value = place.geometry.location.lat()
            lng.value = place.geometry.location.lng()
            name.value = place.name;
        })
    }
    autoComplete(address, lat, lng)
</script>

